
<div class="margin-top"> 
  <center> <h1>Fashion+</h1> </center>
  <center> <h3>Quality is not an act, it is a habit</h3> </center>
</div>
<div class="position-absolute top-50 start-50 translate-middle"> 
  <div class="d-grid gap-2">
    <%= link_to "Login", login_path, class:"nav-link btn btn-secondary btn-lg text-white" %>
    <button type="button" class="nav-link btn btn-primary btn-lg ">Login With Twitter</button>
    <%= link_to "New To Us? Sign Up", register_path, class:"nav-link btn btn-light btn-lg " %>
  </div>
 </div>
 
 
 <!--LOGIN WITH TWITTER GUIDE-->
 <!--https://www.youtube.com/watch?v=vFiblY5KUZE-->