<!--TO DO LIST	-->

PASS SECTION
1. Create help and support page
2. Function to add to save list and remove from save list (similar to add to cart/remove to cart)
3. Change buttons on home page from "add to cart" to "save to list"
3. function to check whether items were stocked within the last 3 months for new-ins section

CREDIT SECTION
1. retrieve product information (pretty much same as products/show.html.erb but for cart/savedlist.html.erb
2. function to check if cart is empty for cart page
3. function to check total items in cart for cart page
4. function to get total cost in cart
. Twitter login 


	    
	
	
	
	
	
		<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/f218ca5c-6f9d-4743-9270-f16cf6442e63/sportswear-tech-fleece-joggers-h2Bmxs.png" /></div>
						  <div class=" tab-pane" id="pic-2"><img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/xbncbko2smutysktehvh/sportswear-tech-fleece-joggers-KyTww3X2.png" /></div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
						  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTW9ASrv-XVR4S7iSdV_4I1wd8xPuCzAiJFnG8KL9iaqVEcd3k2tRfeqhfHV3wPANJBq_U&usqp=CAU" /></a></li>
						  <li><a data-target="#pic-2" data-toggle="tab"><img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/xbncbko2smutysktehvh/sportswear-tech-fleece-joggers-KyTww3X2.png" /></a></li>
						  <li><a data-target="#pic-3" data-toggle="tab"><img src="https://xcdn.next.co.uk/common/Items/Default/Default/Publications/G35/shotview-315x472/102/338-850s.jpg" /></a></li>
						  <li><a data-target="#pic-4" data-toggle="tab"><img src="https://images.asos-media.com/products/nike-tech-fleece-sweatpants-navy/11696729-1-navy?$XXL$&wid=513&fit=constrain" /></a></li>
						</ul>
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">Product Name</h3>
						<p class="product-description">Product Description</p>
						<h4 class="price">current price: <span>$180</span></h4>

						<h5 class="sizes">sizes:
						<select class="form-select form-select-sm mb-3" aria-label=".form-select-lg example">
                <option selected value="s">Small</option>
                <option value="m">Medium</option>
                <option value="l">Large</option>
                <option value="xl">Extra Large</option>
            </select>
						</h5>
						
						<h5>Quantity:
						<div class="form-outline">
                <input type="quantity" id="typeNumber" class="form-control" />
            </div>
						</h5>
						
						<h5 class="colors">colors:
						
						<div class="form-check form-check-inline">
                <input class="form-check-input btn-danger" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="red">
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input btn-primary" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="blue">
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input btn-dark" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="black">
            </div>
							<!--<span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>-->
							<!--<span class="color green"></span>-->
							<!--<span class="color blue"></span>-->
							
						</h5>
 						<div class="action text-center">
							<button class="add-to-cart btn btn-primary" type="button">Add To Cart</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
