<p id="notice"><%= notice %></p>

<p>
  <strong>Search:</strong>
  <%= @product_search.search %>
</p>

<%= link_to 'Edit', edit_product_search_path(@product_search) %> |
<%= link_to 'Back', product_searches_path %>
