<br></br><br></br>
<div class="container text-center"> 
<h1 class="display-6">Add A New Admin</h1>

<%= render 'form', admin: @admin %>

<%= link_to 'Back', admins_path, class:"btn btn-secondary btn-sm text-white" %>
</div>