<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rating_shown.user_id %>
</p>

<%= link_to 'Edit', edit_rating_shown_path(@rating_shown) %> |
<%= link_to 'Back', rating_showns_path %>
