<!--<h1 class="text-center">Footer</h1>-->


<div>
<div class="container-flex bg-dark footer-size">
<div class="btn-group special " role="group" aria-label="...">
  <%= link_to "<br /> home".html_safe, root_path, class:"bi bi-house text-white btn btn-default text-white btn-lg" %>
  <!--<button type="button" class="btn btn-default text-white btn-lg "><i class="bi bi-house text-white"></i><br>Home</button>-->
  
  <%= link_to "<br />scan".html_safe, nil, class:"bi bi-upc-scan btn btn-default text-white btn-lg" %>
  <!--<button type="button" class="btn btn-default text-white btn-lg "><i class="bi bi-upc-scan"></i><br>Scan</button>-->
  
  <%= link_to "<br />saved".html_safe, savedlist_index_path, class:"bi bi-save btn btn-default text-white btn-lg" %>
  <!--<button type="button" class="btn btn-default text-white btn-lg "><i class="bi bi-save"></i><br>saved</button>-->
  
  <%= link_to "<br />account".html_safe, nil, class:"bi bi-person-circle btn btn-default text-white btn-lg" %>
  <!--<button type="button" class="btn btn-default text-white btn-lg "><i class="bi bi-person-circle"></i><br>account</button>-->

</div>
</div>
  
</div>