// Place all the styles related to the cart_products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #f7f6f6
}

// .card {
//     width: 350px;
//     border: none;
//     box-shadow: 5px 6px 6px 2px #e9ecef;
//     border-radius: 12px
// }

.circle-image img {
    border: 6px solid #fff;
    border-radius: 100%;
    padding: 9px;
    top: -28px;
    position: relative;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    z-index: 1;
    background: #e7d184;
    cursor: pointer
}

.help-text {
    margin-top: -21px
}

.thumb {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 19px;
    border: 1px solid #bbb;
    line-height: 37px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s
}

.fw-500 {
    font-weight: 500 !important
}

.thumbs-up:hover {
    color: #fff;
    background-color: green;
    border: 1px solid green
}

.thumbs-down:hover {
    color: #fff;
    background-color: red;
    border: 1px solid red
}