// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-img-top {
    height: 15rem;
    object-fit: cover;
}
@media screen and (max-width: 768px) {

    .product,
    .product-img {
        width: 100px;
        height: 150px
    }

    .card {
        padding-left: 15px;
        padding-right: 15px
    }

    .mob-text {
        font-size: 13px
    }

    .pad-left {
        padding-left: 20px
    }
}
 
 @media (min-width: 576px) { 
  .card-text{
    font-size:1rem;
  }
}

.w-100 {
  width: 100%;
  height: 75vh;
}

.carousel-caption {
// width: 550px;
left: 15%;
top: 75% !important;
transform: translateY(-50%);
text-align: left;
bottom: initial;
background-colour:black;
}

.btn-group.special {
  display: flex;
}

.special .btn {
  flex: 1
}

.footer-size{
    // position:fixed;
   left:0px;
   bottom:0px;
  // height:30px;
   width:100%;
   background:#999;
    //   display: block;
    // width:100%;
    // // height:60px;
    // background-color:#551111;
    // color:#fff;
    // border-top:1px solid #CDCDCD;
        // margin: auto;
//   border: 3px solid green;
  // width:100%;
  // bottom: 0;
  // position: fixed;
}

// footer {
//   position: fixed;
//   height: XXX;
//   bottom: 0;
//   width: 100%;
// }