<%= form_tag seeAllProducts_path, :method => 'get' do %>
    
<div class="container">
<div class="row justify-content-center">   
<div class="col-sm-6 ">     
    
    
<div class="row justify-content-center">   
 
     <input type="checkbox" class="btn-check" value="selectAll" id="check_all" onclick="selectAll()">
      
 <!--= check_box_tag "", nil, nil, class: "selectall-checkbox"-->
    <!--<a href="#" onclick="selectAll()">Select All</a>-->
    <!--<input type="checkbox" onclick="selectAll()">Select All</input><br></br>-->
    <h3>Category</h1>
    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
     <!--<input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" name="name[]" value="all">-->
     <!-- <label class="btn btn-outline-secondary" for="btncheck1">All</label>-->
     <input type="checkbox" class="btn-check" id="shirt" autocomplete="off" name="name[]" value="shirt">
      <label class="btn btn-outline-secondary" for="shirt" >Shirt</label>
    
      <input type="checkbox" class="btn-check" id="pants" autocomplete="off" name="name[]" value="pants">
      <label class="btn btn-outline-secondary" for="pants" >Pants</label>
      
      <input type="checkbox" class="btn-check" id="shoe" autocomplete="off" name="name[]" value="shoe">
      <label class="btn btn-outline-secondary" for="shoe" >Shoes</label>
      
      <input type="checkbox" class="btn-check" id="hoodie" autocomplete="off" name="name[]" value="hoodie">
      <label class="btn btn-outline-secondary" for="hoodie" >Hoodie</label>
    </div>
      
     <h3>Collections</h1>
     <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
      <!--<input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" name="category[]" value="all">-->
      <!--<label class="btn btn-outline-secondary" for="btncheck1">All</label>-->
      <input type="checkbox" class="btn-check" id="men" autocomplete="off" name="category[]" value="men">
      <label class="btn btn-outline-secondary" for="men">Men</label>
 
      <input type="checkbox" class="btn-check" id="women" autocomplete="off" name="category[]" value="women">
      <label class="btn btn-outline-secondary" for="women">Women</label>
    
      <input type="checkbox" class="btn-check" id="kids" autocomplete="off" name="category[]" value="kids">
      <label class="btn btn-outline-secondary" for="kids" >Kids</label>
      
     </div>
    <%#= params[:category].inspect %>


    <br><br><br>
    
    <h3>Color</h3>
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
          <input type="checkbox" class="btn-check" id="redbtn" autocomplete="off" name="color[]" value="red">
          <label class="btn btn-outline-danger" for="redbtn">Red</label>
        
          <input type="checkbox" class="btn-check" id="bluebtn" autocomplete="off" name="color[]" value="blue">
          <label class="btn btn-outline-primary" for="bluebtn">Blue</label>
        
          <input type="checkbox" class="btn-check" id="blackbtn" autocomplete="off" name="color[]" value="black">
          <label class="btn btn-outline-dark" for="blackbtn" >Black</label>
          
          <input type="checkbox" class="btn-check" id="whiteBtn" autocomplete="off" name="color[]" value="white">
          <label class="btn btn-outline-light text-dark " for="whiteBtn" >White</label>
          
          <input type="checkbox" class="btn-check" id="orangeBtn" autocomplete="off" name="color[]" value="orange">
          <label class="btn btn-outline-warning" for="orangeBtn" >Orange</label>
          
          <input type="checkbox" class="btn-check" id="greenBtn" autocomplete="off" name="color[]" value="green">
          <label class="btn btn-outline-success" for="greenBtn" >Green</label>
     </div> 
     <%#= params[:color].inspect %>
     
    <br><br><br>
    
    <h3>Sizes</h3>
    
         <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
      <input type="radio" class="btn-check" id="smallSize" autocomplete="off" name="size" value="S">
      <label class="btn btn-outline-secondary" for="smallSize">S</label>
    
      <input type="radio" class="btn-check" id="mediumSize" autocomplete="off" name="size" value="M">
      <label class="btn btn-outline-secondary" for="mediumSize">M</label>
    
      <input type="radio" class="btn-check" id="largeSize" autocomplete="off" name="size" value="L">
      <label class="btn btn-outline-secondary" for="largeSize" >L</label>
      
      <input type="radio" class="btn-check" id="xl" autocomplete="off" name="size" value="XL">
      <label class="btn btn-outline-secondary" for="xl" >XL</label>
      
      <input type="radio" class="btn-check" id="xxl" autocomplete="off" name="size" value="XXL">
      <label class="btn btn-outline-secondary" for="xxl" >XXL</label>
     </div>
     <%#= params[:size].inspect %>
    <!--<input type="radio" name="size" value="s">-->
    <!--<label for="red">S</label><br>-->
    <!--<input type="radio" name="size" value="m">-->
    <!--<label for="blue">M</label><br>-->
    <!--<input type="radio" name="size" value="l">-->
    <!--<label for="black">L</label><br>-->
    <br><br><br>
            <label class="btn btn-outline-primary" for="check_all">Select All</label>
</div>
 <br></br><br></br>
 
 
<%= submit_tag "Filter", class:"btn btn-primary btn-sm" %>



 <div id="autocomplete_search_results" width:100></div>
 </div>
 </div> 
 <%= link_to ' Back', :back, class: "bi bi-arrow-return-left" %>
 </div> 
<% end %>
<% if @test %>
<%= @test %>
<% end %>