<h1 class="text-center">Product Description</h1><br><br>

<% if @product %>
    <div class="jumbotron"> 
        <p>
        <strong>Product name:</strong>
        <%= @product.name %>
        </p>
    
        <p>
        <strong>image:</strong>
        <img src=<%= @product.image %> />
        </p>
    
    
        
    </div>
<% else %>
    <h1>Product does not exist</h1>
<% end %>

<h1>Add to cart</h1>
<%= render 'addcart', cart_product: get_cart_product_by_product_id(@product.id) %>


<%= link_to 'Back', products_path, class:"btn btn-secondary" %>
<br/><br/><br/><br/><br/><br/><br/><br/>