<h1 class="text-center">Product Description</h1><br><br>

<% if @product %>
    <div class="jumbotron"> 
        <p>
        <strong>Product name:</strong>
        <%= @product.name %>
        </p>
        
        <p>
        <strong>First Image only:</strong>
            <img src=<%= product_first_image(@product) %> />
        </p>
    
        <p>
        <strong>All images:</strong>
        <% product_images(@product).each do |image| %>
            <img src=<%= image %> />
        <% end %>
        </p>
    
    
        
    </div>
<% else %>
    <h1>Product does not exist</h1>
<% end %>

<%= link_to 'Back', products_path, class:"btn btn-secondary" %>