 <div class="container-flex bg-secondary">
     <h1>Profile Page</h1>
    <br></br>
    <h3>Gravatar - look at week 7</h3>
    </div>
    
    
  <div class="container-flex bg-light">
<ul class="nav flex-column fs-3">
  <li class="nav-item margin-header ">
    <!--Need to save this to cart not savedlist-->
      <%= link_to "  pending orders", savedlist_index_path, class:"bi bi-clock nav-link" %>
    <!--<a class="bi bi-clock nav-link" aria-current="page" href="#">  pending orders</a>-->
  </li>
  <li class="nav-item">
    <a class="bi bi-door-open-fill nav-link" href="#">   update login details</a>
  </li>
  <li class="nav-item">
    <a class="bi bi-envelope nav-link" href="#">   subscription</a>
  </li>
</ul>
    
</div>